/* styles.css */

div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.lesson02p {
    background-color: lightcoral;
    color: black;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#lesson02div1 {
    background-color: white;
    color: blue;
    font-size: 36px;
}

.lesson02pb {
    font-size: 24px;
}

#lesson02div2 {
    background-color: lightgreen;
    color: black;
    font-size: 24px;
    font-weight: bold;
}